# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.venv/

# IDEs
.idea/
.vscode/
*.swp
*.bak
*.swo

# Operating System
.DS_Store
.Trashes
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Project Specific (from .idea/.gitignore)
sounds/
database/
files_need_to_arrange/

# database
*.db

# dotenv environment variables file
.env    